<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuyin.service.video.mapper.VideoMapper">

    <!--    -->
    <select id="getVideoUrlByVideoId" resultType="java.lang.String">
        SELECT video_url
        FROM video
        WHERE video_id = #{videoId}
    </select>

    <!--    -->
    <select id="getUserLikesVideos" resultType="com.niuyin.model.video.domain.Video">
        SELECT v.video_title, v.video_desc, v.video_url, v.view_num, v.like_num, v.favorites_num
        FROM video v
                 JOIN video_user_like vul ON v.video_id = vul.video_id
        WHERE vul.user_id = #{userId}
        ORDER BY v.create_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!--    -->
    <select id="getUserFavoritesVideos" resultType="com.niuyin.model.video.domain.Video">
        SELECT v.video_title, v.video_desc, v.video_url, v.view_num, v.like_num, v.favorites_num
        FROM video v
                 JOIN video_user_favorites vuf ON v.video_id = vuf.video_id
        WHERE vuf.user_id = #{userId}
        ORDER BY v.create_time DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <!--    -->
    <select id="selectAllLikeNumForUser" parameterType="Long" resultType="Long">
        select sum(like_num)
        from video v
        where v.user_id = #{userId}
    </select>

    <!--    查询视频评论数-->
    <select id="selectCommentCountByVideoId" resultType="Long">
        select count(1) as count
        from video_user_comment
        where video_id = #{videoId};
    </select>

    <!--    点赞表查询用户是否点赞某视频-->
    <select id="selectUserLikeVideo" resultType="Long">
        select count(1) as count
        from video_user_like
        where video_id = #{videoId}
          and user_id = #{userId};
    </select>
    <select id="selectVideoAuthor" resultType="com.niuyin.model.member.domain.Member">
        select *
        from member
        where user_id = #{userId};
    </select>

    <select id="userWeatherFavoriteVideo" resultType="java.lang.Long">
        select count(1) as count
        from video_user_like
        where video_id = #{videoId}
          and user_id = #{userId}
    </select>

    <select id="userWeatherAuthor" resultType="java.lang.Long">
        select count(1) as count
        from user_follow
        where user_id = #{userId}
          and user_follow_id = #{userFollowId};
    </select>
    <select id="batchSelectVideoAuthor" parameterType="java.util.List"  resultType="com.niuyin.model.member.domain.Member">

        SELECT m.nick_name,m.avatar FROM member m WHERE m.user_id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>;
    </select>
</mapper>

