<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuyin.service.behave.mapper.VideoUserFavoritesMapper">

    <select id="selectUserFavoriteVideos" resultType="com.niuyin.model.behave.vo.UserFavoriteVideoVO">
        SELECT
        v.video_id,
        v.user_id,
        m.nick_name as userNickName,
        v.video_title,
        v.video_desc,
        v.cover_image,
        v.video_url,
        v.like_num,
        v.publish_type,
        v.create_time,
        vuf.create_time as favoriteTime
        FROM video v
        INNER JOIN video_user_favorites vuf ON v.video_id = vuf.video_id
        LEFT JOIN member m ON m.user_id = v.user_id
        WHERE vuf.user_id = #{userId}
        <if test="videoTitle != null">
            AND v.video_title LIKE CONCAT('%', #{videoTitle}, '%')
        </if>
        ORDER BY vuf.create_time DESC
        LIMIT #{pageNum}, #{pageSize}

    </select>

    <select id="selectUserFavoriteVideosCount" resultType="java.lang.Long">
        SELECT count(1) as count
        FROM video v
        RIGHT JOIN
        (SELECT * FROM video_user_favorites WHERE user_id = #{userId}) vuf
        ON v.video_id = vuf.video_id
        WHERE 1
        <if test="videoTitle != null">
            AND video_title like concat ('%', #{videoTitle},'%')
        </if>
    </select>
</mapper>

