<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiniu.service.video.mapper.VideoCategoryMapper">
    <select id="getAllVideoCategory" resultType="com.qiniu.model.video.domain.VideoCategory">
        SELECT id, name
        FROM video_category
        where status = '0'
    </select>
</mapper>

